# yaml-language-server: $schema=https://www.schemastore.org/clang-format-21.x.json
---
Language: Cpp
BasedOnStyle: Google
---
Language: Proto
BasedOnStyle: Google
---
Language: Json
BasedOnStyle: Google
